/*!
 * initial project
 */

html {
    min-height: 100%;
    position: relative;
}

body{ 
	background-color: $bg-body;
	margin: 0;
    margin-bottom: $bottom-height;
    font-family: $font-primary;
}

a{
	color: $color-font;
	&:hover, &:focus{ text-decoration: none; color: $color-font-hover; }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $color-font;
}
p, span{
	color: $color-font; 
}

ul{
	list-style: none;
}

.text-block{ display: block }
